.button {
    margin: 32px 0;
    padding: 24px 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    background-color: #6278F7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    color: #95FFD4;
}