.form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin: 80px 50px;
}
.form h2 {
    font-size: 32px;
    font-weight: 400;
    color: #212121;
}

.form form {
    flex: 1;
    background-color: #F6F6F6;
    border-radius: 20px;
    box-shadow: 7px 7px 15px #00000025;
    padding: 8px 100px;
}